<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
</head>
<body>
    <h1>Add Member</h1>
    <form method="post">
        <label for="member_name">Name:</label><br>
        <input type="text" id="member_name" name="member_name" required><br><br>

        <label for="member_surname">Surname:</label><br>
        <input type="text" id="member_surname" name="member_surname" required><br><br>

        <label for="member_email">Email:</label><br>
        <input type="email" id="member_email" name="member_email" required><br><br>

        <label for="member_phone">Phone:</label><br>
        <input type="tel" id="member_phone" name="member_phone" required><br><br>

        <label for="member_credit_card">Credit Card:</label><br>
        <input type="text" id="member_credit_card" name="member_credit_card" required><br><br>

        <input type="submit" value="Add Member">
    </form>
</body>
</html>
