<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GameBuster</title>
</head>
<body>
    <h1>Welcome to GameBuster</h1>
    <nav>
        <ul>
            <li><a href="/games">View Games</a></li>
            <li><a href="/add_game">Add Game</a></li>
            <li><a href="/add_member">Add Member</a></li>
            <li><a href="/list_members">List Members</a></li>
            <li><a href="/rent">Rent Games</a></li>
        </ul>
    </nav>
</body>
</html>
